$white: #FFFFFF;
$black: #000000;
$light-gray: #F6F6F6;
$dark-gray: #4F5665;
$red: #F53838;
$link-text: #0B132A;
$button-red: #F53855;
$title: #0B132A;
$text: #4F5665;
$bg: #FAFAFA;
$border: #DDDDDD;
$dot-bg: #DDE0E4;
$after-blur: #0D1025;
$footer-bg: #F8F8F8;